# 16 - Automated Trading

- Capital management
- ML based trading strategy
- Online algorithm
- Infrastructure and deployment
- Logging and monitoring

### ML based trading strategy

Combination of ML with the historical data from the FXCM REST API to backtest the strategy. Uses the bid-ask spread as proportional transaction costs.

__Vectorised backtesting__
- Intraday data - in this case the five minute bars.
- Connect to FXCM ans retrieve five minute bar data for the month

In [1]:
import fxcmpy

fxcmpy.__version__

'1.2.4'

In [2]:
api = fxcmpy.fxcmpy(config_file='fxcm.cfg')

In [4]:
data = api.get_candles('EUR/USD', period='m5',
                        start='2018-06-01 00:00:00',
                        stop='2018-06-30 00:00:00')
data.iloc[-5:, 4:]

#import pandas as pd
#data.to_csv (r'EUR-USD_5m_2018-06-01.csv', index=None, header=True)
#data=pd.read_csv('EUR-USD_5m_2018-06-01.csv')

                     askopen  askclose  askhigh   asklow  tickqty
date
2018-06-29 20:35:00  1.16865   1.16885  1.16899  1.16842      601
2018-06-29 20:40:00  1.16885   1.16856  1.16901  1.16855      387
2018-06-29 20:45:00  1.16856   1.16829  1.16865  1.16825      592
2018-06-29 20:50:00  1.16829   1.16839  1.16849  1.16822      842
2018-06-29 20:55:00  1.16839   1.16864  1.16879  1.16837      540

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6083 entries, 2018-06-01 00:00:00 to 2018-06-29 20:55:00
Data columns (total 9 columns):
bidopen     6083 non-null float64
bidclose    6083 non-null float64
bidhigh     6083 non-null float64
bidlow      6083 non-null float64
askopen     6083 non-null float64
askclose    6083 non-null float64
askhigh     6083 non-null float64
asklow      6083 non-null float64
tickqty     6083 non-null int64
dtypes: float64(8), int64(1)
memory usage: 475.2 KB

In [8]:
spread = (data['askclose'] - data['bidclose']).mean()
spread

9.633897747821927e-05